<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Server" type="Application" factoryName="Application">
    <option name="ALTERNATIVE_JRE_PATH" value="$USER_HOME$/.jdks/azul-15.0.3" />
    <option name="MAIN_CLASS_NAME" value="pt.ubi.Server" />
    <module name="ProjectoSD" />
    <option name="VM_PARAMETERS" value="-Djava.security.policy=permissions.policy" />
    <RunnerSettings RunnerId="Run" />
    <ConfigurationWrapper RunnerId="Run" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>